* {
  box-sizing: border-box;
  font-family: "muli", sans-serif;
}

html {
  font-size: 12pt;
}

.container {
  max-width: 1045px;
  margin: auto;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 8pt;
}

[class*="col-"] > p:first-child {
  margin-block-start: 0;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 16pt;
  }
  .col-1 { width: 25%; float: left; }
  .col-2 { width: 50%; float: left; }
  .col-3 { width: 75%; float: left; }
  .col-4 { width: 100%; float: left; }
}

.banner {
  width: 100%;
  background-color:blue;
}

.banner p {
  font-family: "biorhythm", serif;
  font-size: 4ex;
  text-transform: lowercase;
  color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  margin: 0;
}

h1, h2, h3 {
  font-family: "muli", sans-serif;
  margin: 0;
}

.sitenav {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-top: .5rem;
  margin: 0;
}
.sitenav-item {
  padding-right: 1.5rem;
  font-family: "muli", serif;
}
.sitenav-link {
  color: black;
}
.sitenav-link a:visited {
  color: black;
}

input, select, button {
  font-size: inherit;
  font-family: "biorhythm", serif;
  padding: .2em;
  margin-right: 1em;
}

.bookdata th {
  text-align: left;
}

.bookdata td {
  padding-left: 1em;
}

.accordion-handle {
  font-family: "biorhythm", serif;
  background-color: blue;
  color: white;
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: .3em;
}
.accordion-handle:before {
  content: '\25be    ';
}
.accordion-handle.closed:before {
  content: '\25b8    ';
}

.accordion-body.closed {
  display: none;
}
